.encabezado-primero {
  color: #f3f8f8;
  font-size: 7rem;
  font-weight: 600;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; }

header {
  background-color: #333333;
  padding: 1rem 0 3rem 0; }
  header .sitio {
    color: #7fc5aa; }

.inicio {
  background-image: url(./imagen/header.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh; }

body {
  background-color: #c3e59f; }

ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%; }
  ul li {
    display: inline-block; }
  ul a {
    color: aliceblue; }

.usuario {
  color: aliceblue;
  border-style: dotted; }

.latoma {
  color: aliceblue;
  background-color: #c2ab65;
  text-align: initial;
  width: 100%; }

.tienda {
  color: #eb1faa;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.tienda-atencion {
  font-size: 1.5rem;
  background-color: #8f0b0b;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif; }

.slider {
  width: 95%;
  margin: auto;
  overflow: hidden;
  animation: cambio 20s infinite alternate; }

.slider {
  height: auto; }
  .slider ul {
    display: flex;
    padding: 0%;
    width: 100%;
    animation: cambio 20s infinite alternate; }

.slider li {
  width: 100%;
  list-style: none; }

.slider img {
  width: 99%; }

.encabezado-tienda {
  color: aqua;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

#triangulo {
  background: url(./imagen/triangulo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.inter {
  color: #ed1f9e;
  font-size: 7rem;
  font-weight: 800;
  background-image: url(./imagen/foto2.jpg);
  background-size: contain;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.como-funciona {
  font-weight: 700;
  font-size: 4rem;
  background-color: blueviolet;
  background-size: cover;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.tabla-ordenada {
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

/*html de vender*/
.body-vender {
  background-color: #875784; }

.encabe-vender {
  color: #e46de8;
  background-color: #67295e;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-weight: 900;
  text-align: center; }

/* index footer abajo de todo*/
footer {
  width: 100%;
  padding: 50px 0px;
  background-color: #7fc5aa;
  background-size: cover; }
  footer .conteiner {
    max-width: 800px; }

.box-footer {
  display: flex;
  flex-direction: column;
  padding: 40px; }

.terms {
  font-size: 2rem;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif; }

.magic {
  height: auto; }
  .magic div {
    background-color: blue;
    border: solid 2px #ea6565; }

body {
  background-color: green; }
